.#{$prefix}-c-side-menu{
  font-size: $font-14;
  ul {
    list-style: none;
  }

  li {
    &.level-top {
      margin-bottom: 15px;
    }
  }

  a {
    font-size: $font-14;
    color: $clr-font-tips-color;
    display: block;
    line-height: $font-20-lineheight;

    &.alive {
      color: $clr-font-title-color;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        color: $clr-error-color;
      }
    }

    &.actived {
      color: $clr-error-color;
    }
  }
}
