* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
img {
  border: 0;
}

body {
  font-size: $font-14;
  font-family: $font-family;
}

.c {
  clear: both;
}

a {
  color: $clr-error-color;
  text-decoration: none;
  font-size: $font-14;
  &:hover {
    @include getColorAlpha($clr-error-color, 0.5);
    @include transition(all .5s ease);
  }
}

input {
  height: .4rem;
  line-height: .4rem;
  border-radius: 0.03rem;
  border: 1px solid $clr-divider-color;
  text-indent: .1rem;
  @include transition(all .5s ease);

  &:focus {
    border-color: $clr-error-color;
  }
}
