* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
img {
  border: 0;
}

body {
  font-size: $font-14;
  font-family: $font-family;
}

.c {
  clear: both;
}

a {
  color: $clr-error-color;
  text-decoration: none;
  font-size: $font-14;
  &:hover {
    @include getColorAlpha($clr-error-color, 0.5);
    @include transition(all .5s ease);
  }
}

input {
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid $clr-divider-color;
  text-indent: .1rem;
  @include transition(all .5s ease);
  outline: none;

  &:focus {
    border-color: $clr-error-color;
  }
}
select {
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid $clr-divider-color;
  text-indent: .1rem;
  @include transition(all .5s ease);
  outline: none;
  min-width: 150px;

  &:focus {
    border-color: $clr-error-color;
  }
}
textarea {
  border: 1px solid $clr-divider-color;
  outline: none;

  &:focus {
    border-color: $clr-error-color;
  }
}
input, label {
  display: inline-block;
  vertical-align: middle;

}
